<div class="container-full">

      <div class="row">

        <div class="col-lg-12 text-center v-center">

          <h1>What Are You Looking For?</h1>
          <!-- <h1>For?</h1> -->

          <br>
          <br>
          <input id="rbXoomTN" type="radio" name="letter" value="A" checked="true"/>
          <hf >Xoom Tracking Number</hf>
          <input id="rbNumber" type="radio" name="letter" value="B" checked="true"/>
          <hf>Number</hf>
          <input id="rbBarcode" type="radio" name="letter"   value="C" checked="true"/>
          <hf>Barcode</hf>
          <br>

          <form class="col-lg-12">
            <br>
            <div class="input-group input-group-lg col-sm-offset-4 col-sm-4">
              <input type="text" class="center-block form-control input-lg" title="Search Item" id="AccountId">
              <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="button" {{action 'findAccounts'}}>OK</button></span>
            </div>
          </form>
        </div>

      </div> <!-- /row -->

  	  <div class="row">

        <div class="col-lg-12 text-center v-center" style="font-size:39pt;">
          <a href="#"><i class="icon-google-plus"></i></a> <a href="#"><i class="icon-facebook"></i></a>  <a href="#"><i class="icon-twitter"></i></a> <a href="#"><i class="icon-github"></i></a> <a href="#"><i class="icon-pinterest"></i></a>
        </div>

      </div>

  	<br><br><br><br><br>

</div> <!-- /container full -->



<div class ="container" id="accountsList" style="visibility: hidden">
<div class="header">
  <h3>We found these accounts for you!</h3>
</div>

 {{#each stax in model}}
  <!--/Accounts-->
  			  <div class="row" style="visibility: hidden" {{bind-attr id="stax.number"}}>
  				<br>
  				<div class="col-md-2 col-sm-3 text-center">
  				  <a class="story-title" href="#"><img {{bind-attr src="stax.logoUrl"}} alt="" style="width:100px;height:100px" class="img-circle" ></a>
  				</div>
  				<div class="col-md-10 col-sm-9">
  				  <h3>{{stax.country}}</h3>
  				  <h5>Service: {{stax.service}}</h5>
            <h5>Number: {{stax.number}}</h5>
            {{#if stax.barcode}}
              <h5>Barcode: {{stax.barcode}}</h5>
            {{/if}}
            {{#if stax.XoomTN}}
              <h5>Xoom Tracking Number: {{stax.XoomTN}}</h5>
            {{/if}}
            <h5>State: {{stax.state}}</h5>
            <h5>Total: {{stax.total}}</h5>
            <div class="row">
  					<div class="col-xs-9">
  					  <h4><span class="label label-default">{{stax.title}}</span></h4><h4>
  					  <small style="font-family:courier,'new courier';" class="text-muted">2 hours ago  • <a href="#" class="text-muted">Read More</a></small>
  					  </h4></div>
  					<div class="col-xs-3"></div>
  				  </div>
  				  <br><br>
  				</div>
  			  </div>
  			  <hr>
  {{/each}}


</div>
